/* For mobile phones: */
.controller {
  display: flex;
  flex-direction: row;
  height: 100px;
  margin-bottom: 5px;
  cursor: pointer;
}
.img {
  background-color: #282c34;
  width: 35%;
  height: 100%;
  border-radius: 10px;
}
.news {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 90px;
  margin-left: 5px;
}
.title {
  font-weight: bolder;
  font-size: 15px;
}
//.description {
//  background-color: #141e6e;
//  height: 40%;
//}
.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
.avatar {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}
.name_author {
  font-size: 15px;
  font-weight: bolder;
  //height: 25px;
  text-align: center;
  margin-left: 5px;
}

/* For tablets: */
@media only screen and (min-width: 600px) {

}

/* For desktop: */
@media only screen and (min-width: 768px) {

}
