/* For mobile phones: */
.controller {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: #c8d2dc;
  border-radius: 10px;
  padding: 5px;
}
.controller:active {
  background-color: #8eadcd;
}
.img {
  background-color: #282c34;
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
.news {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.title {
  font-weight: bolder;
  font-size: 15px;
  text-overflow: ellipsis;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.description {
  font-size: 12px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}
.avatar {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}
.name_author {
  font-size: 15px;
  font-weight: bolder;
  //height: 25px;
  text-align: center;
  margin-left: 5px;
}

/* For tablets: */
@media only screen and (min-width: 600px) {

}

/* For desktop: */
@media only screen and (min-width: 768px) {

}
