.news_container {
    margin: 10px 15px;
    font-size: 19px;
    font-family: 'Times New Roman';
}
.news_title {
    font-size: 30px !important;
    font-weight: bold;
}
.news_content img {
    width: 100%;
    border-radius: 10px;
}
