.news_controller {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center
}
.post_new_controller {
    background-color: #eef0f1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center
}
.post_title {
    font-size: 30px;
    font-weight: bold;
    color: black !important;
    text-align: center;
}
.post_new_edit {
    border: 1px solid #d9d5d5 !important;
    border-radius: 16px;
    padding: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.post_news {
    border: 1px solid #d0cdcd !important;
    border-radius: 16px;
    padding: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.news_item {

}
.news_item img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    border-radius: 10px;
}
