.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site_layout .site_layout_background {
    background: #fff;
}
[data-theme="dark"] .site_layout .site_layout_background {
    background: #141414;
}
