.mobile_controller_page {
    font-family: 'Times New Roman';
}
.mobile_header {
    background-color: #dd3333;
    display: block;
}
.mobile_controller_header {
    height: 50px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #dd3333;
    text-align: center;
    color: white;
}
.mobile_item_header {
    font-size: 24px;
    color: white;
}
.mobile_title_header {
    font-size: 24px;
    font-weight: bold;
    font-family: Permanent Marker, cursive;
}
.mobile_controller_header .ant-badge-count,
.ant-badge-dot,
.ant-badge .ant-scroll-number-custom-component {
    background: orange;
    border-radius: 25px;
}
.mobile_search_input {
    height: 36px;
    display: flex;
    position: absolute;
    -webkit-box-align: center;
    align-items: center;
    top: 48px;
    left: 12px;
    right: 12px;
    z-index: 1;
    line-height: 36px;
    padding: 0px 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    transition-duration: 0.3s;
}
.mobile_search_input input {
    border: 0px;
    height: 36px;
    line-height: 36px;
    margin: 0px 0px 0px 8px;
    outline: 0px;
    width: 100%;
    padding: 0px;
}
[type='search'] {
    appearance: textfield;
    outline-offset: -2px;
}
.mobile_slider_header {
    margin-top: 50px;
}
.mobile_slider_header img {
    border-radius: 15px;
}
.mobile_menu_category {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 91px;
    background-color: white;
    border-bottom: 10px solid #d4cfcf !important;
}
.mobile_menu_category_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
.mobile_menu_category_item img {
    border-radius: 15px;
}
.mobile_content {
    padding-left: 12px;
    padding-right: 12px;
}
.mobile_content_item {
    display: flex;
    flex-direction: row;
}
.mobile_content_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: flex-end;
}
.mobile_content_item_title {
    display: flex;
    flex-direction: row;
    padding-top: 8px;
}
.read_more {
    position: absolute;
    right: 0px;
    font-size: 13px;
    padding-right: 12px;
    font-weight: 500;
    color: rgb(21, 124, 219);
    text-transform: uppercase;
    text-decoration: none;
}

.btn-shake:hover {
    animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
.tox-notification .tox-notification--in .tox-notification--warning {
    display: none;
}

.tree_controller .ant-tree .ant-tree-node-content-wrapper {
    display: flex;
}

.tree_controller .ant-tree .ant-tree-node-content-wrapper:hover {
    background-color: #e29999;
}

.tree_controller .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: unset;
}
.tree_controller_modal_edit .ant-modal-content {
    border-radius: 20px;
}
.tree_controller_modal_edit .ant-modal-header {
    border-radius: 20px;
    border-bottom: unset;
}
.tree_controller_modal_edit .ant-modal-close-x {
    display: none;
}
.tree_controller_modal_edit .ant-modal-body {
    display: none;
}
.tree_controller_modal_edit .ant-modal-footer {
    display: none;
}
.modal_sanpham_controller .ant-modal-content {
    border-radius: 20px;
    margin-top: -90px;
}
.modal_sanpham_controller .ant-modal-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.modal_controller .ant-modal-content {
    border-radius: 20px;
}
.modal_controller .ant-modal-header {
    border-radius: 20px;
    border-bottom: unset;
}
.title_modal {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
.img_nhan_vien .ant-image-img {
    width: 48px;
    height: 48px;
    border-radius: 50px;
}
.img_edit_news {
    width: 100%;
}
.modal_post_bank .ant-modal-content {
    border-radius: 20px;
}
.modal_post_bank .ant-modal-header {
    border-radius: 20px;
    border-bottom: unset;
}
.modal_post_bank {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/blog-mongker.appspot.com/o/default%2Fbitcoin-17-2.jpg?alt=media&token=a71a039f-82ff-4514-a1d4-737ab6be9a05) !important;
}
